<h1>TEST TEST</h1>

<%= form_for @user, url: {action: "create"} do |f| %>
Full Name: <%= f.text_field :name %><br>
Email: <%= f.text_field :email %><br>
Password: <%= f.password_field :password %><br>
<%= f.submit "register" %>
<%end%>
